[package]
name = "alt"
version = "1.0.3"
authors = ["Boris Bera <bera.boris@gmail.com>"]
build = "build.rs"
publish = false

[features]
# This is a bullshit feature used to disable some tests from running in certain
# funny edge cases.
travis_ci = []

[dependencies]
clap = "2.32.0"
toml = "0.4.10"
console = "0.7.5"
regex = "1"
lazy_static = "1.3.0"
dialoguer = "0.3.0"
glob = "0.2.11"

[dev-dependencies]
assert_cmd = "0.11"
escargot = "0.4"
rand = "0.6"

[build-dependencies]
clap = "2.32.0"

[profile.release]
lto = true
