[package]
name = "alt"
version = "1.0.2"
authors = ["Boris Bera <bera.boris@gmail.com>"]
build = "build.rs"

[features]
# This is a bullshit feature used to disable some tests from running in certain
# funny edge cases.
travis_ci = []

[dependencies]
clap = "2.32.0"
toml = "0.4.10"
console = "0.7.2"
regex = "1"
lazy_static = "1.2.0"
dialoguer = "0.3.0"
glob = "0.2.11"

[dev-dependencies]
assert_cmd = "0.10"
escargot = "0.3"
rand = "0.5"

[build-dependencies]
clap = "2.32.0"
