[package]
name = "alt"
version = "1.0.4"
authors = ["Boris Bera <bera.boris@gmail.com>"]
build = "build.rs"
publish = false

[dependencies]
clap = "2.33.0"
toml = "0.5.1"
console = "0.7.5"
regex = "1"
lazy_static = "1.3.0"
dialoguer = "0.4.0"
glob = "0.3.0"

[dev-dependencies]
assert_cmd = "0.11"
escargot = "0.5"
rand = "0.6"

[build-dependencies]
clap = "2.33.0"

[profile.release]
lto = true
