name: Package

on:
  workflow_call:
    inputs:
      checkoutRef:
        type: string
        required: false

jobs:
  package:
    strategy:
      fail-fast: false
      matrix:
        include:
          - key: linux-amd64
            os: ubuntu-latest
            target: x86_64-unknown-linux-musl
          - key: linux-arm64
            os: ubuntu-latest
            target: aarch64-unknown-linux-musl
            extra-args: --use-cross
          - key: darwin-amd64
            os: macos-latest
            target: x86_64-apple-darwin
          - key: darwin-arm64
            os: macos-latest
            target: aarch64-apple-darwin

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ inputs.checkoutRef }}
      - run: rustup toolchain install stable --profile minimal --target ${{ matrix.target }}
      - uses: Swatinem/rust-cache@v2
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - run: |
          ./ci/package.py \
            --rust-target ${{ matrix.target }} \
            --dest-dir dist/release \
            ${{ matrix.extra-args }}
      - uses: actions/upload-artifact@v5
        with:
          name: alt-package-${{ matrix.key }}
          path: dist/release/
          if-no-files-found: error

